$list-font: ('d-big': 40, 'd-1': 32, 'd-2':28, 'd-3':26, 'd-4':24, 'd-5':22,'big':20, 'medium-big':18, 'normal':16,'medium-small':14, 'min':12);
$list-position: (top:t, right:r, bottom:b, left:l);
$list-space: 0, 10, 12, 16, 18, 20, 25, 30, 36, 50;
$i: 0;

:root {
    /*Colores (principales y secundarios)*/
    --color-1: #726bf4;
    --color-2: #FF4D1C;
    --gray--100: #f0eef2;
    --gray--200: #edecf2;
    --gray--300: #D1CFD5;
    --gray--400: #c2c0cf;
    --gray--500: #807e82;
    --gray--600: #545454;
    --black: #040415;
    --white: #fff;
    /*esquinas (border-radius)*/
    --b-r-10: 10px;
    --b-r-20: 20px;
    --b-r-50: 50px;
    --b-r-50per: 50%;
    /*profundidads (box-shadows)*/
    --box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    /*Espaciados (Margin y padding)*/
    @each $font,$size in $list-font {
        --sf-#{$font}: #{$size}px;
    }
    /*Tipografía (fuente y tamaños)*/ 
    @each $pos in $list-space {
        --space-#{$i}: #{$pos}px;
        $i: $i + 1;
    }
}